body {
	margin: 0;
	width: 1920px;
	height: 1080px;
	overflow: hidden;
}

.social-box {
	position: absolute;
	display: inline-block;
	top: 30px;
	right: 30px;
	width: 250px;
	height: 100px;
	overflow: hidden;
	margin: 0;

}


#twitchAccount {
	opacity: 0;
	position: absolute;
	align-items: center;
}

#instagramAccount {
	opacity: 0;
	position: absolute;
	align-items: center;
}

#youtubeAccount {
	opacity: 0;
	position: absolute;
	align-items: center;
}

@keyframes rollingSyke {
	0% {transform: rotate3d(2, 2, 2, 90deg);}
	25% {transform: rotate3d(3, 3, 3, 180deg); }
	50% {transform: rotate3d(4, 4, 4, 270deg); }
	75% {transform: rotate3d(5, 5, 5, 360deg); }
	100% {transform: rotate3d(1, 1, 1, 0deg);}
}

#twitchLogo {
	float: right;
	width: 30px;
	height: 30px;
	margin: 5px;
	animation: rollingSyke 3s linear 0s infinite alternate none;
}

#instagramLogo {
	float: right;
	width: 30px;
	height: 30px;
	margin: 5px;
	animation: rollingSyke 3s linear 0s infinite alternate none;

}

#youtubeLogo {
	float: right;
	width: 30px;
	height: 30px;
	margin: 5px;
	animation: rollingSyke 3s linear 0s infinite alternate none;
}

@keyframes zooming {
	from { margin: 3px; font-size: 20px}
	to { margin: 0; font-size: 26px}
}

p {
	float: left;
	margin: 3px;
	font-size: 20px;
	color: dimgray;
	font-family: 'Sansita Swashed', cursive;
	animation-name: zooming;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-duration: 3s;

}

